*{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);


  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color-paragraph:  rgba(73, 80, 87, 1);
  --text-color-light: hsl(0 0% 98%);
  --body-color: #00856F;
  --black-color:  black
}

body{

  background-color: #DCE9E2;
  font-family: 'DM Sans', sans-serif;

  font-style: bold;
}



.grid{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.title{
  font-size: 2.125rem;
  line-height: 2.75rem;
  color: var(--black-color);

}

.sub-title{
  font-style: regular;
  line-height: 1.6875rem;
  font-size: 1.125rem;
  color: var(--text-color-paragraph);


}

.section{
  margin-bottom: 6.25rem;
}
.heat{
  font-weight: 700;
  font-style: normal;
  line-height: 150%;
  font-size: 0.875rem;
  color: #00856F;
  letter-spacing: 0.08em;
}

.paragraph{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 150%;
color: #495057;
}

.button{
  color: white;
  text-decoration: none;
  border-radius: 2.5rem;
  font-size: 0.875rem;
  padding: 1.0625rem ;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  background-color: var(--body-color);
}

/* MENU  */
/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {

z-index: 1;

  opacity: 1;
  visibility: visible;

  background: white;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  z-index: 2;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
  color: black;
}



/* ====HOME==== */

section .hero-section {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 11rem;
}

section .hero-section h1{

  margin-bottom: 1rem;
}

section .hero-section h2{

  margin-bottom: 1rem ;

}
section .hero-section p{

  margin-bottom: 2rem;
}
section .hero-section a{
  display: block;
  margin-bottom: 3.75rem;

}

section .hero-section img{
  width: 16.3525rem;
  height: 21.2969rem;
}


/* =====numbers==== */


.numbers{
  margin: auto;
  width: 20.4375rem;
  position: absolute;

  text-align: center;
  margin-top: -12.3rem;
  background: white;
  border-radius: 0.375rem;
}
.numbers .pacientes h1{
  padding: 2.5rem 5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
}

.numbers .pacientes h2{

  margin-bottom: 3.75rem;
}

.numbers .especialista h1{

  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;


}

.numbers .especialista h2{
  margin-bottom: 3.75rem;

}
.numbers .anos h1{

  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;

}

/* =========SERVICES===== */

.services{
  padding-top: 20rem;
  text-align: center;
  background-color:#F7F9F9;
  padding-bottom:6.25rem;
}
.services-titulo h1{

  font-size: 1.875rem;
}

.services .cards{
  margin-top: 3.75rem;
}


.services .card{
  padding: 1.5rem;
  text-align: left;
  border-radius: 0.375rem;
  background: #FFFFFF;
  border: 1px solid #DCE9E2;
  margin-bottom:2rem ;
}


.services .cards h1{

    font-size: 1.5rem;
}



.services .card i img{
  width: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}



/* =========SOBRE NOS=======  */
.sobre-nos .sobre-title{
padding-top: 6.25rem;
}

.sobre-nos .sobre-title h1{
margin-bottom: 1.5rem;
text-align: left;
font-size: 1.875rem;
}
.sobre-nos .sobre-title h2{
  margin-bottom: 1.5rem;
  text-align: left;
}

.sobre-nos .sobre-title p{
  margin-bottom: 1.5rem;
  text-align: left;
}

/* MODAL */
.swiper {
  width: 20.4375rem;
  height: 17.625rem;
}

.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(0, 133, 111, 0.15);
  mix-blend-mode: color;
  border-radius: 20px;

}
.swiper-slide{
  object-fit: cover;
}












